
/* HEADERS */

/* grouped class for headers */
h1, h2, h3 {
  font-family: 'Courier New', Courier, monospace;
  font-weight: thick;
}

/* header 1 */
h1 {
  background-color: #efe5dc;
  color: #fff
  text-align: left;
  padding: 30px 30px;
  font-family: 'Courier New', Courier, monospaces;
  font-size: 42px;
}

/* header 2 */
h2 {
  padding: 25px, 0px;
}


/* PARAGRAPHS */

/* background color for entire about me section */
article {
  background-color: #efe5dc;
  padding: 15px 15px;
}

/* paragraph padding */
section p {
  padding: 0px 250px;
}

/* font for paragraphs + lists */
p, ol, ul {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* pseudo element for open and closed quotation marks */
.quotationmark::before {
  content: open-quote;
}

.quotationmark::after {
  content: close-quote;
}


/* FOOTER */

footer {
  background-color: #fbfefb;
  padding: 15px, 0px, 0px, 0px;
  height:150px;
  
}

/* LINKS */

/* font and font size */
a {
  font-family: 'Courier New', Courier, monospaces;
  font-size: 16px
}

/* styling for links */
a:link {color: blue;}
a:clicked{color: purple;}

/* IMAGE */

img {
  border-radius: 50%;
  margin: auto;
  display: block;
}


/* SPECIFIC CLASSES */

/* specific class for centering texts */

.center {
  text-align: center;
}

